:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color-scheme: light dark;
  place-items: center;
}

#quote-box {
  max-width: 540px;
  width: 540px;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
}
#text {
  display: flex;
}
#author {
  justify-items: end;
}
#btn {
  display: flex;
  justify-content: space-between;
}
#tweet-quote i {
  font-size: 2em;
}
#tweet-quote {
  font-weight: 500;
  color: #64e0ff;
  text-decoration: inherit;
}
#tweet-quote:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#new-quote {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
#new-quote:hover {
  border-color: #64edff;
}
#new-quote:focus,
#new-quote:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
